<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->


<ion-content>
  <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(url)" 
  frameborder="0" 
  frameborder="0" 
  marginheight="0"
  marginwidth="0" 
  width="100%" 
  height="100%"
   scrolling="auto"></iframe>

  <ion-fab style="
            bottom: 30px;
            position: absolute;" horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="ios-arrow-dropup"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button [href]="urlWhats" target="_blank" color="success" data-desc="Doar por WhatsApp">
        <ion-icon name="logo-whatsapp"></ion-icon>
      </ion-fab-button>
      <ion-fab-button onclick="window.open('https://31.220.56.10/upload/public/webphone/click2call.html?wp_serveraddress=sip.voipraider.com&wp_username=eder_ferreira1&wp_password=eefm2382&wp_callto=551159089100&wp_autoaction=1&wp_language=pt','popup','width=300,height=400'); return false;"
        color="success" data-desc="Doar por Ligação Gratuita">
        <ion-icon name="ios-call"></ion-icon>
      </ion-fab-button>
      <!-- <ion-fab-button (click)="moveToFirst()" color="success" data-desc="Doar por Ligação Gratuita">
        <ion-icon name="ios-call"></ion-icon>
      </ion-fab-button> -->
    </ion-fab-list>
  </ion-fab>
</ion-content>