<ion-header>
  <ion-toolbar>
    <ion-title>
      Ligação Gratuita
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <iframe src="https://31.220.56.10/upload/public/webphone/click2call.html?wp_serveraddress=sip.voipraider.com&wp_username=eder_ferreira1&wp_password=eefm2382&wp_callto=5511159089100&wp_autoaction=1&wp_language=pt" 
  frameborder="0" 
  frameborder="0" 
  marginheight="0"
  marginwidth="0" 
  width="100%" 
  height="100%"
  scrolling="auto" allow="microphone; camera"></iframe>
</ion-content>

<ion-button expand="full" (click)="closeModal()">Fechar</ion-button>



